footer {
    height: 100px;
    background-color: #593901;
    position: relative;
    margin: 0 auto;

    .footerTxt {
        max-width: 900px;
        margin: 0 auto;
        height: 100%;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}